[Desktop Entry]
Name[cs]=Mousam
Name[de]=Mousam
Name[fr]=Mousam
Name[hi]=मौसम
Name[hu]=Mousam
Name[it]=Mousam
Name[nl]=Mousam
Name[ro]=Mousam
Name[ru]=Mousam
Name[pt_BR]=Mousam
Name[pl]=Mousam
Name[uk]=Mousam
Name[th]=Mousam
Name[zh_CN]=Mousam
Name[zh_TW]=天氣
Name=Weather
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=mousam io.github.amit9838.mousam
Comment[cs]=Přehledné počasí
Comment[de]=Wetter auf einen Blick
Comment[es]=Un vistazo del clima
Comment[hi]=मौसम एक नज़र में
Comment[hu]=Tekintse meg az időjárást
Comment[it]=Il meteo a colpo d'occhio
Comment[ru]=Погода в одно мгновение
Comment[pt_BR]=Clima a uma olhada
Comment[pl]=Pogoda na rzut oka
Comment[zh_CN]=一目了然的天气
Comment[zh_TW]=一目了然的天氣
Comment=Weather at a glance
Icon=io.github.amit9838.mousam
Terminal=false
Type=Application
Categories=Application;Utility;GTK;
Keywords[cs]=Počasí;Mousam;Déšť;Mraky;Předpověď;GTK4;Python;teplota;
Keywords[de]=Wetter;Mousam;Regen;Wolke;Vorhersage;GTK4;Python;Temperatur;
Keywords[hi]=मौसम;मौसम;वर्षा;बादल;पूर्वानुमान;GTK4;पायथन;तापमान;
Keywords[hu]=Időjárás;Mousam;Eső;Felhő;Előrejelzés;GTK4;Python;hőmérséklet;
Keywords[it]=Meteo;Mousam;Pioggia;Nuvola;Previsione,GTK4;Python;temperature;
Keywords[ru]=Weather;Mousam;Rain;Cloud;Forecast;GTK4;Python;temperature;
Keywords[pt_BR]=Clima;Mousam;Chuva;Nuvem;Previsão;GTK4;Python;temperatura;
Keywords[pl]=mc\nPogoda;Mousam;Deszcz;Chmura;Prognoza;GTK4;Python;temperatura;
Keywords[th]=สภาพอากาศ;Mousam;ฝน;เมฆ;พยากรณ์;GTK4;Python;อุณหภูมิ;
Keywords[zh_CN]=天气;气象;雨;云;预报;GTK4;Python;温度;
Keywords[zh_TW]=天氣;氣象;雨;雲;預報;GTK4;Python;溫度;
Keywords=Weather;Mousam;Rain;Cloud;Forecast;GTK4;Python;temperature;
StartupNotify=true
X-Flatpak=io.github.amit9838.mousam
