[Desktop Entry]
Name=IntelliJ IDEA
Exec="/home/eprahemi/.local/share/JetBrains/Toolbox/apps/intellij-idea/bin/idea" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=intellij-idea
X-Icon-Path=/home/eprahemi/.local/share/icons/hicolor/scalable/apps/jetbrains-idea-a68a44dd-7c0c-4f25-ab68-b409be737e3c.svg
X-Installed-Icon-Cache-Path=/home/eprahemi/.local/share/icons/hicolor
X-Icon-Name-Before-Sanitization=jetbrains-idea-a68a44dd-7c0c-4f25-ab68-b409be737e3c.desktop.icon.svg
Comment=The IDE for pro Java and Kotlin development
StartupWMClass=jetbrains-idea
StartupNotify=true
