[Desktop Entry]
Name=PyCharm
Exec="/home/eprahemi/.local/share/JetBrains/Toolbox/apps/pycharm/bin/pycharm" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=pycharm
X-Icon-Path=/home/eprahemi/.local/share/icons/hicolor/scalable/apps/jetbrains-pycharm-708611e2-fd7e-4e5d-9af2-8a8111c5b761.svg
X-Installed-Icon-Cache-Path=/home/eprahemi/.local/share/icons/hicolor
X-Icon-Name-Before-Sanitization=jetbrains-pycharm-708611e2-fd7e-4e5d-9af2-8a8111c5b761.desktop.icon.svg
Comment=The Only Python IDE you need
StartupWMClass=jetbrains-pycharm
StartupNotify=true
