[Desktop Entry]
Name[ar]=مشغل الفيديوهات
Name[be]=Відэапрайгравальнік
Name[bg]=Видео устройство
Name[ca]=Reproductor de vídeo
Name[cs]=Přehrávač videí
Name[da]=Videoafspiller
Name[de]=Videowiedergabe
Name[el]=Αναπαραγωγέας Βίντεο
Name[en_GB]=Video Player
Name[eo]=Videoludilo
Name[es]=Reproductor de vídeo
Name[eu]=Bideo-erreproduzigailua
Name[fa]=پخش‌کنندهٔ ویدیو
Name[fi]=Videosoitin
Name[fr]=Lecteur vidéo
Name[fur]=Riprodutôr video
Name[gl]=Reprodutor de vídeo
Name[he]=נגן סרטים
Name[hi]=वीडियो प्लेयर
Name[hu]=Videólejátszó
Name[ia]=Reproductor de videos
Name[id]=Pemutar Video
Name[it]=Riproduttore video
Name[ja]=ビデオプレイヤー
Name[ka]=ვიდეოდამკვრელი
Name[kab]=Imeɣri n uvidyu
Name[kk]=Видео плеері
Name[ko]=동영상 재생 앱
Name[kw]=Gwarier Gwydhyow
Name[lt]=Vaizdo grotuvas
Name[nb]=Videospiller
Name[ne]=भिडियो प्लेयरमा खोल्नुहोस्
Name[nl]=Videospeler
Name[nn]=Videoavspelar
Name[oc]=Lector vidèo
Name[pa]=ਵਿਡੀਓ ਪਲੇਅਰ
Name[pl]=Odtwarzacz wideo
Name[pt]=Reprodutor de vídeo
Name[pt_BR]=Reprodutor de vídeo
Name[ro]=Spectacol
Name[ru]=Видеопроигрыватель
Name[sk]=Prehrávač videí
Name[sl]=Predvajalnik videoposnetkov
Name[sr]=Пуштач видеа
Name[sr@latin]=Puštač videa
Name[sv]=Videospelare
Name[th]=โปรแกรมเล่นวิดีโอ
Name[tr]=Video Oynatıcı
Name[ug]=سىن ياڭراتقۇچ
Name[uk]=Відеопрогравач
Name[uz]=Video pleer
Name[zh_CN]=视频播放器
Name[zh_TW]=影片播放器
Name=Video Player
Comment[ar]=شغِّل الفيديوهات
Comment[be]=Прайграванне відэа
Comment[bg]=Изпълнение на видео клипове
Comment[ca]=Reproduïu vídeos
Comment[cs]=Přehrávejte videa
Comment[da]=Afspil videoer
Comment[de]=Videos wiedergeben
Comment[el]=Αναπαραγωγή βίντεο
Comment[en_GB]=Play videos
Comment[eo]=Ludi videojn
Comment[es]=Reproducir vídeos
Comment[eu]=Erreproduzitu bideoak
Comment[fa]=پخش ویدیوها
Comment[fi]=Toista videoita
Comment[fr]=Lire des vidéos
Comment[fur]=Riprodûs videos
Comment[gl]=Reproducir vídeos
Comment[he]=ניגון סרטים
Comment[hi]=वीडियो चलाएं
Comment[hu]=Videók lejátszása
Comment[ia]=Reproduce videos
Comment[id]=Memutar video
Comment[it]=Riproduce video
Comment[ja]=ビデオを再生
Comment[ka]=ვიდეოების დაკვრა
Comment[kk]=Видеоларды ойнату
Comment[ko]=동영상을 재생합니다
Comment[kw]=Gwari gwydhyowyow
Comment[lt]=Groti vaizdo įrašus
Comment[nb]=Spill av videoer
Comment[ne]=भिडियो प्ले गर्नुहोस्
Comment[nl]=Speel video’s af
Comment[nn]=Spel av videoar
Comment[oc]=Legir de vidèos
Comment[pa]=ਵਿਡੀਓ ਨੂੰ ਚਲਾਓ
Comment[pl]=Odtwarzanie wideo
Comment[pt]=Reproduza vídeos
Comment[pt_BR]=Reproduza vídeos
Comment[ro]=Redă videouri
Comment[ru]=Воспроизведение видео
Comment[sk]=Prehráva videá
Comment[sl]=Predvajajte videoposnetke
Comment[sr]=Пустите видео
Comment[sr@latin]=Pustite video
Comment[sv]=Spela videoklipp
Comment[th]=เล่นวิดีโอ
Comment[tr]=Videoları oynat
Comment[ug]=سىن ياڭرىتىدۇ
Comment[uk]=Відтворення відео
Comment[uz]=Videolarni ijro eting
Comment[zh_CN]=播放视频
Comment[zh_TW]=播放影片
Comment=Play videos
Exec=showtime --new-window %U
Icon=kylin-video
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;GNOME;GTK;
Keywords[ar]=الفيديو;الفيلم;المقطع;المشغل;شوتايم;شو تايم;Showtime;
Keywords[be]=Video;Movie;Film;Clip;Player;Showtime;Відэа;Фільм;Кліп;Прайгравальнік;Відэапрайгравальнік;Плэер;
Keywords[bg]=видео;филм;клип;плеър;шоутайм;video;movie;film;clip;player;showtime;
Keywords[ca]=Vídeo;Pel·lícula;Clip;Reproductor;Showtime;
Keywords[cs]=Video;Film;Klip;Přehrávač;Showtime;
Keywords[da]=Video;Film;Klip;Afspiller;Showtime;
Keywords[de]=Video;Movie;Film;Clip;Player;Showtime;Wiedergabe;
Keywords[el]=Βίντεο;Ταινία;Φιλμ;Clip;Αναπαραγωγέας;Showtime;
Keywords[en_GB]=Video;Movie;Film;Clip;Player;Showtime;
Keywords[eo]=Video;Filmo;Filmo;Klipo;Ludilo;Showtime;
Keywords[es]=Vídeo;Película;Clip;Reproductor;Showtime;
Keywords[eu]=Bideoa;Filma;Pelikula;Klipa;Erreproduzigailua;Showtime;
Keywords[fa]=Video;Movie;Film;Clip;Player;Showtime;فیلم;ویدیو;کلیپ;پخش;نمایش;
Keywords[fi]=Video;Movie;Film;Clip;Player;Showtime;elokuva;filmi;soitin;
Keywords[fr]=vidéo;film;clip;lecteur;showtime;
Keywords[fur]=Video;Film;Cine;Videoclip;Riprodutôr;Showtime;
Keywords[gl]=Vídeo;Película;Filme;Recorte;Reprodutor;Showtime;
Keywords[he]=סרטון;סרט;וידאו;ווידאו;וידיאו;קולנוע;הסרטה;קליפ;נגן;נגינה;הצגה;הופעה;Showtime;
Keywords[hi]=वीडियो;चलचित्र;फिल्म;क्लिप;प्लेयर;शोटाइम;
Keywords[hu]=Video;Videó;Mozi;Film;Klip;Lejátszó;Műsoridő;Showtime;
Keywords[ia]=Video;Movie;Film;Clip;Reproductor;Showtime;
Keywords[id]=Video;Film;Klip;Pemutar;Showtime;
Keywords[it]=Video;Film;Clip;Riproduttore;Player;Showtime;
Keywords[ja]=Video;Movie;Film;Clip;Player;Showtime;ビデオ;動画;ムービー;映画;フィルム;クリップ;プレイヤー;プレーヤー;ショータイム;
Keywords[ka]=Video;Movie;Film;Clip;Player;Showtime;ვიდეო;ფილმი;კლიპი;დამკვრელი;
Keywords[kk]=Video;Movie;Film;Clip;Player;Showtime;Видео;Фильм;Кино;Клип;Ойнатқыш;
Keywords[ko]=Video;동영상;영상;Movie;무비;영화;Film;필름;Clip;클립;Player;플레이어;재생기;Showtime;쇼타임;
Keywords[kw]=Gwydhyow;Fylm;Klypp;Gwarier;Showtime;
Keywords[lt]=Video;Vaizdo;Įrašas;Filmas;Klipas;Grotuvas;Showtime;
Keywords[nb]=Video;Film;Klipp;Spiller;Showtime;
Keywords[ne]=वीडियो; फिल्म; फिल्म; क्लिप; खेलाडी; शोटाइम;
Keywords[nl]=Video;Movie;Film;Clip;Player;Showtime;speler;
Keywords[nn]=Video;Film;Klipp;Spelar;Avspelar;Showtime;Movie;
Keywords[oc]=Vidèo;Film;Filme;Pellicula;Clip;Lector;Legidor;Showtime;
Keywords[pa]=ਵਿਡੀਓ;ਵੀਡਿਓ;ਮੂਵੀ;ਫਿਲਮ;ਕਲਿੱਪ;ਪਲੇਅਰ;ਸ਼ੋਅਟਾਈਮ;
Keywords[pl]=wideo;filmy;film;klip;odtwarzacz;Showtime;Seans;
Keywords[pt]=Vídeo;Filme;Clipe.Leitor;Reprodutor;Showtime;
Keywords[pt_BR]=Vídeo;Filme;Movie;Film;Clipe;Reprodutor;Player;Showtime;
Keywords[ro]=Video;Movie;Film;Clip;Player;Showtime;Redare;Spectacol;
Keywords[ru]=Видео;Кино;Фильм;Клип;Проигрыватель;Showtime;
Keywords[sk]=video;film;klip;prehrávač;Showtime;
Keywords[sl]=Video;Film;Filmček;Movie;Posnetek;Predvajalnik;Čas za predstavo;Šov;Showtime;
Keywords[sr]=Видео;филм;снимак;пуштач;шоутајм;Video;Movie;Film;Clip;Player;Showtime;
Keywords[sr@latin]=Video;film;snimak;puštač;šoutajm;Video;Movie;Film;Clip;Player;Showtime;
Keywords[sv]=Video;Film;Klipp;Spelare;Showtime;
Keywords[th]=วิดีโอ;ภาพยนตร์;หนัง;คลิป;โปรแกรมเล่น;Showtime;
Keywords[tr]=Video;Movie;Film;Clip;Player;Showtime;Vidyo;Klip;Oynatıcı;Çalıcı;Çalar;
Keywords[ug]=Video;Movie;Film;Clip;Player;Showtime;سىن؛كىنو؛فىلىم؛قىرقىم؛قويغۇچ؛
Keywords[uk]=Video;Movie;Film;Clip;Player;Showtime;відео;фільм;кіно;кліп;програвач;плеєр;шоутайм;
Keywords[uz]=Video; Kino; Film; Klip; O'yinchi; Namoyish vaqti;
Keywords[zh_CN]=Video;Movie;Film;Clip;Player;Showtime;视频;电影;影片;片段;剪辑;播放器;
Keywords[zh_TW]=Video;Movie;Film;Clip;Player;Showtime;視訊;電影;影片;剪輯;播放器;
Keywords=Video;Movie;Film;Clip;Player;Showtime;
MimeType=video/3gp;video/3gpp;video/3gpp2;video/dv;video/divx;video/fli;video/flv;video/mp2t;video/mp4;video/mp4v-es;video/mpeg;video/mpeg-system;video/msvideo;video/ogg;video/quicktime;video/vivo;video/vnd.divx;video/vnd.mpegurl;video/vnd.rn-realvideo;video/vnd.vivo;video/webm;video/x-anim;video/x-avi;video/x-flc;video/x-fli;video/x-flic;video/x-flv;video/x-m4v;video/x-matroska;video/x-mjpeg;video/x-mpeg;video/x-mpeg2;video/x-ms-asf;video/x-ms-asf-plugin;video/x-ms-asx;video/x-msvideo;video/x-ms-wm;video/x-ms-wmv;video/x-ms-wvx;video/x-nsv;video/x-ogm+ogg;video/x-theora;video/x-theora+ogg;
StartupNotify=true
DBusActivatable=true
Actions=new-window;
X-Purism-FormFactor=Workstation;Mobile;

[Desktop Action new-window]
Name[ar]=نافذة جديدة
Name[be]=Новае акно
Name[bg]=Нов прозорец
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[da]=Nyt vindue
Name[de]=Neues Fenster
Name[el]=Νέο παράθυρο
Name[en_GB]=New Window
Name[eo]=Nova fenestro
Name[es]=Ventana nueva
Name[eu]=Leiho berria
Name[fa]=پنجرهٔ جدید
Name[fi]=Uusi ikkuna
Name[fr]=Nouvelle fenêtre
Name[fur]=Gnûf barcon
Name[gl]=Nova xanela
Name[he]=חלון חדש
Name[hi]=नई विंडो
Name[hu]=Új ablak
Name[ia]=Nove fenestra
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ka]=ახალი ფანჯარა
Name[kab]=Asfaylu amaynut
Name[kk]=Жаңа терезе
Name[ko]=새 창
Name[kw]=Fenester Nowydh
Name[lt]=Naujas langas
Name[nb]=Nytt vindu
Name[ne]=नयाँ सञ्झ्याल
Name[nl]=Nieuw venster
Name[nn]=Nytt vindauga
Name[oc]=Fenèstra novèla
Name[pa]=ਨਵੀਂ ਵਿੰਡੋ
Name[pl]=Nowe okno
Name[pt]=Nova janela
Name[pt_BR]=Nova janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sl]=Novo okno
Name[sr]=Нови прозор
Name[sr@latin]=Novi prozor
Name[sv]=Nytt fönster
Name[th]=หน้าต่างใหม่
Name[tr]=Yeni Pencere
Name[ug]=يېڭى كۆزنەك
Name[uk]=Нове вікно
Name[uz]=Yangi oyna
Name[zh_CN]=新建窗口
Name[zh_TW]=新視窗
Name=New Window
Exec=showtime --new-window
